active_2026-04-20_14-56/2sSur2JLR99ZKeV7.json
{
  "updatedAt": "2025-10-09T19:16:37.528Z",
  "createdAt": "2025-10-08T13:44:35.346Z",
  "id": "2sSur2JLR99ZKeV7",
  "name": "Lead: add comment -> add category and finish",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "tableId": "tg_accounts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.manager.id }}"
            },
            {
              "keyName": "state",
              "keyValue": "={{ null }}"
            },
            {
              "keyName": "state_data",
              "keyValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        32
      ],
      "id": "370e4983-f9c8-4325-bea4-06f9f91d16b8",
      "name": "Update state: reset",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "zn9ty3kjGEQxM2MK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.manager.id }}",
        "text": "Комментарий сохранён для лида",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        32
      ],
      "id": "d2dbf9f1-5d00-4af5-9a46-b0de3170aaa0",
      "name": "Send a text message",
      "webhookId": "aae732aa-cb4c-4e48-83a7-5f99a8d0ed68",
      "credentials": {
        "telegramApi": {
          "id": "kLofIbHPyU5bBCRT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ada-sale.online/index.php/api/lead-notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authtoken",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VyIjoic2VjdXNweWNvZGVAZ21haWwuY29tIiwibmFtZSI6IlZsYWRpbWlyIiwiQVBJX1RJTUUiOjE3NTUxODI4NTB9.0ulouSbP4bfsxFL8RsSYkg_BxdAIHCT744VE738_eakUWBvjD-9_xme5H8wG0574CA6NN3HrdAYR-CiQUWQGxg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "title",
              "value": "={{ $('When Executed by Another Workflow').item.json.telegram.message.text }}"
            },
            {
              "name": "description",
              "value": "={{ $('Get stateData').item.json.stateData.add_comment.comment.text }}"
            },
            {
              "name": "color",
              "value": "\"\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        32
      ],
      "id": "61e68447-81fb-490f-a322-e302fbec36bc",
      "name": "CRM: create a manual note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "manager",
              "type": "object"
            },
            {
              "name": "telegram",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        32
      ],
      "id": "91112bde-8d33-41cc-b858-fd397aad9e7a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const state_data = $input.first().json.manager.state_data\nconst json = JSON.parse(state_data);\nreturn {\"json\": {\"stateData\": json}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        32
      ],
      "id": "1ca5cf1c-7065-4212-a4bc-6c699a120de9",
      "name": "Get stateData"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM mb592658_adadb.rise_clients WHERE tg_user_id = {{ $json.stateData.add_comment.lead_id }} and deleted = 0;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -128,
        32
      ],
      "id": "a84876f8-1a83-4803-9f11-fb33b9eb305b",
      "name": "Get lead id",
      "credentials": {
        "mySql": {
          "id": "hWvHOF51fBsx3NA3",
          "name": "MySQL account"
        }
      }
    }
  ],
  "connections": {
    "Update state: reset": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: create a manual note": {
      "main": [
        [
          {
            "node": "Update state: reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get stateData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get stateData": {
      "main": [
        [
          {
            "node": "Get lead id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get lead id": {
      "main": [
        [
          {
            "node": "CRM: create a manual note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "manager": {
            "id": 8203479406,
            "created_at": "2025-08-29T17:00:31.033459+00:00",
            "updated_at": "2025-08-29T17:00:31.033459",
            "tg_username": "amina_red",
            "first_name": "Амина",
            "last_name": null,
            "role": "manager",
            "status": "active",
            "api_id": 26502193,
            "api_hash": "841f2564dd4b3f62b440372b906374d4",
            "string_session": "1ApWapzMBu8EGjJ4C-B_glbIOlemNqzMShYcmxVbJC9htojZU9wqSr_bTAZGC06ToS0bjl1OZMWjI8lnlzdpNnjQVj-7K0qKw3SCukcnUgcuJvOAEyMLKN1LzDnasQElngOOFNzBPK8DYJrWIayK8JlCrC2-b-So1bfR3n6SQcK-lOC38DyBqXmR8a1O0hxNQbN0sHa7rlGvbRGSZUH4TzqQ6-K-fUJChNKQD0DqE_dNBf6pr4WXaknHn9_wSvjVpEGzDnwaYgc7u8nmU2MQYPLlDIl72FVxcPyhLUUALoksCpZzgzQRO4RLMmOlaHN1saOyXBf_a0U6W4quBhJ3Bx4mPoOpF2NU=",
            "phone": "+380630282951",
            "proxy_ip": "5.22.204.236",
            "proxy_port": 59100,
            "proxy_login": "dabstep4enko",
            "proxy_password": "FjGhduJaEN",
            "state": "add_comment__content_in_buffer",
            "last_tg_api_call_at": null,
            "state_data": "{\n  \"add_comment\": {\n    \"lead_id\": 338216406,\n    \"tg_user\": 8203479406,\n    \"comment\": {\"text\":\"**Speaker 0 (0.78s–13.63s):**\\nнастоящий материал произведен рас распространенный или направлен иностранным агентом д вал пота либо касается деятельности иностранного агента дмитрия вал пота\\n\\n**Speaker 1 (14.94s–28.74s):**\\nздравствуйте друзья в москве 16 канал живой зовут евгений род андрей америку сегодня помогает вести нам эфир сопровождает трансляцию и эта программа курс пота та pink с экономически обзором дмитрий пота дмитрий здравствуйте\\n\\n**Speaker 2 (30.73s–31.39s):**\\nдобрый день\\n\\n**Speaker 1 (32.57s–57.39s):**\\nсегодня вторник и друзья напоминаю что вы можете задавать вопросы д в чате трансляции мы их все обязательно за желательно представлять говорите как вас зовут сколько вам лет какого города и задавайте вопрос и приветствую также всех зрителей канала youtube канал дмитрий пота на который тоже рекомендую подписываться а начинаем традиционно со в слова дмитрия вам снов\\n\\n**Speaker 2 (58.89s–487.46s):**\\nда действительно мы выходим на двух каналах на живом г и пота прямом это всегда проще для тех кто как оценит на наш творчеством но по короткое вступление до того чтобы было чем вам разогреть это безусловно не столько вал речь владимир которая была но понятно что это как бы в некотором роде обращение к ин и вот ин должна была как-то там поза задавать вопросы как-то ну и так далее фундамента там ничего нового не было в общем по сути дела все посыл или все обращения будут основными на мой взгляд в послание собран где как раз будут уже основы какой-то экономической политики на 26 год для нас ценно снова по факту там потому что про экономику практически ничего такого не было про положение по россии в мире ну в общем вопросы все традиционные товарищи трамп который передает то не передает тома вероятность того что он что-то поставит ночью очень в малом объеме она скорее всего именно будет такова то есть фундамента на поле брони ничего не поменяет для нас важно это естественно то как сейчас компании готовятся к новому ин сезону ну то есть насколько они будут расширять своей мест программы даже по последней выставке агро который вот недавно прошла я могу отметить что увеличилось количество китайцев китайцы не скажем так не первого э тут очень важно что представлен и делегации и представлены оборудования был скажем так если сравнивать с выставка в г я бы сказал бы что это наверное ну по количеству даже обсуждать бессмысленно потому что выставка к она но выставка в враг она завершает свой какой-то там цикл вероятнее всего будет п вероятнее чего это будет вы комплекс жилы комплекс со потому что конечно земля до локация дорогая но сейчас мы посмотрим если ее п это чуть-чуть может быть в воздух под зависит раз два три 5 надеюсь ничего не под завис вот так вот соответственно выставка на должна переехать по крайней мере хотя бы временно на к э по там территории менее удобная она все-таки очень у удаленно но всем придется привыкать к этой территории поэтому китайцев стала побольше на китайцы первой руки из российских производителей то что сейчас планирует сокращение объема производства по их же заявлением порядка 30 процентов не самый лучший показатель потому что сама по себе техника рос маша уже достаточно дорогая для наших сел производителя как раз на прошлой неделе когда была выставка я встречался со своими коллегами из двух крупных агро и их ин программа минус приблизительно 15-20 процентов к тому что будет по отношению к этому году это означает что меньше про меньше по приведет ли к дефицит нет не приведет но кровь цен однозначно приведет у еще появилась два крупных ди которые с которыми мы вошли в контакт они сами вышли потому что нужно спланировать стратегию следующего года непростое действительно для них просто эти 9 месяцев будут крайне важно чтобы они их пережили эти девять месяцев и смогли все таки потом возродить как феникс из пепла когда я надеюсь по нашим все-таки расчетам китайцев либо об либо от от самой идею у в том виде по крайней мере в которым он есть не означает что полностью машина обратно не ж у должны быть готовы к тому что гор у а тех кто использует эти схемы уже сейчас по региона налогов ин инфекция это было и раньше могу сказать это практика уже последних наверное 5 лет когда там например москву проверяет ту и проверяет ка но и питер в том числе такая же история дверь проверяет тв ребята во всех смыслах этого слова не только налоговые но и мвд и бросают в качестве скажем так командиров и они придут часы поэтому денег становится меньше в бюджете поэтому по нагрузка будет жестче жестче именно как раз в части того что в общем надо бы под собрать бизнес насчет уже сейчас видно увеличивает объем др это соответственно увеличивает тут кошки мышки будут против бизнеса к получив сигнал от центрального банка также очень скромно смотрит на свои ин ин программы следующего года ни у кого по крайней мере в активной фазе и сколько бы я не видел даже публичных заявлений то что не скажу за всю отдаст не знаю весь рынок даже те компании которые совета директоров уже формируют ин стратегию там по оборудован по сыр по материалам по рас или не рынков с по маркетингу следующий года следующий год 26 очень и очень скромный крат было так за 7 собственно говоря я свое короткое экономическое вступление ока и готов отвечать на вопросы если соответственно появились\\n\\n**Speaker 1 (488.32s–510.38s):**\\nвопросы появились спасибо большое нашим зрителям за их активность друзья задавайте пожалуйста еще не забывайте представлять и начнем с начала ник есть мнение ш что россия с ее экономикой скоро ки россии ее ки мне не к дмитрия что россия еще долго может так протянуть а вы какого мнения при\\n\\n**Speaker 2 (513.81s–731.78s):**\\nну я принимал участие как их с одним и другим экспертом в эфира ну назвать это сложно дело все в том что в чем прелесть статистики которые на которых все опирается или расчета в том что есть вот условно говоря нормальное распределение и когда ты хочешь можно доказать любую ги собственно говоря чем пользуются про просто одни про пользуются там ли левым условно говоря э про там другие про использует правый э я бы сказал бы что я в спор ш и не к я ближе к шее к не чем шар потому что я знаю как дим делает свои вычисления и он давно в наверное на этой поля и скажу прямо вопрос как-то ки это что кто подразумевает если кто-то подразумевает что ки будет как в восьмом году нет такого ки не может быть именно у будет не просто да не просто много кто раз потеряет там свой бизнес да да по разным оценкам вот у нас по среднему бизнесу от 15 до там 17 процентов по разным региона так поп п к ну процентов до пяти по нашим расчетам ук скажем так то есть он перейдет под другие группы влияния ки ли но его можно выдать как за но нет никто не побежит в стр по красной площади в этой части нет будет ли голод нет голода не будет потому что даже ассортимент который сок за последние там 5 ну там три года скажем так 5 это с учетом все-таки с учетом пандемии ассортимент на наших полка сок приблизительно процентов 15 17 он стал более бедным и очень одно но потому что появилась к кола вот она появилась очень так в большом ассортимент п это не очень хорошо потому что раньше помимо колы существовали более раз набор продуктов но тут есть еще и другой важный тренд о котором мы тоже с вами немножко обсуждали что меняется социальная среда к тех кто приходит в торговые центры меняется национальная среда и это уже активно влияет на брокер в компаниях и в набор продуктов которые вы видите потому что чем больше у вас появляется средней азии тем больше у вас появляется более дешевых и простых марок товаров это относится как к одежде так и к услугам которые предлагают банки там сот компании так далее компания начинают говорить уже там на та ки потому что у них дайте потребители пока еще не носят характер сверх доход но это потребители которая носит характер уже более масса и это приходится всем учитывать поэтому экономики ки конечно таки не будет но в экономике придется не просто но до того чтобы до как до кризиса 98 года нам еще очень и очень далеко кратко так\\n\\n**Speaker 1 (733.28s–744.18s):**\\nартур дмитрий вы говорили что будут трясти к но трясти начали челюсть то есть нас с вами подскажите скажите будут ли какие-то посла хорошие новости или все очень плохо\\n\\n**Speaker 2 (745.67s–896.6s):**\\nспорт курения не просто к т сотни не так как и он его не так видно скажем так к просто забирают деньги не лица они попросту говоря там делают це взносы а последствий в чем с разницей между и на нами серым у в том что это выливается в в инфляцию но как я уже говорил в чем прелесть инфляции то что она хорошо продается в в долго за нами пришли потому что нас много и будут ли какие-то посла а тут ключевой вопрос а зачем ну вот мы с вами не в в на изменение экономической парад мы не имея не в в на из цикл мы такие в в рамках ф вот эти там лучшем случае лан тогда куда по ш туда мы идем но внимание вопрос зачем с нами как-то разговаривать то есть в этой части власть достаточно п на не разговаривать с кем с тем с кем не надо разговаривать а как делает р чтобы ну как-то не в открытый говорить кто вы такие здесь я вас не звал идите по известному адресу как в одном из мем но глобально зачем вам это все ка с нами разговаривать они в общем выборы проводят выборы из вот заметьте выборы прошли губернатор между прочим так на секундочку и прошли очень тихо без су зад доллар раньше же выборы там даже в среди по партии которые были понятно они все системные бы была какая-то ст был какой-то некий политический а попали технологии зарабатывали как су денег а сейчас все достаточно просто даже там где есть хоть какая-то интрига это интрига очень с в общем губернатор все все остались на своих не только остались на своих местах ну ук свои позиции ну и следующей та в общем власть будет задавать все вопросы зачем мне в общем губернатор ну кроме как номинал функции но и зачем мне конечно же выбора не будет права потому что в целом она умеет управлять и без этого ненужного для нее функционала\\n\\n**Speaker 1 (898.94s–903.35s):**\\nконстантин дмитрий сегодня день рождения владимира путина как вы вы его по\\n\\n**Speaker 2 (907.82s–1117.96s):**\\nвы знаете дело в том что у меня нет как-то не не при ни кому я бы сказал бы то есть как и любому другому человеку сказал бы как-то здоровье и удачи но не более того потому что как человек он человек как функции ну у него большие полномочия которые он сам себе приобрел и имени как раз очень сильно печально что вместо ночи очень хорошего такого со к действительно за горизонт своей жизни создание мощной у державы у технологий я понимаю что все з исключительно на на нем и на очень узком круге его людей и у него очень мало времени для того чтобы ну если бы он захотел ca п потому что это вот сейчас уже реально это невозможно просто технически невозможно и но вот он уйдет вот ему там сейчас 73 вот он предположим еще лет 10 с нами какое наследие будет никогда будет 83 например будут ли праздновать вы и когда им будет 90 вот этот элемент для руководителя страны крайне важен именно это будет будем ли мы вспоминать вернее по те поколения которые будут придут позже будут ли вспоминать в 90 лет ведь сегодня никто не вспоминает а никто не вспоминает прежнего че до абсолютно верно это все проход фигуры которых помнят очень малое количество людей а это неправильно все помнят эпоху б но эпоха помнят ее исключительно либо анекдот либо по но каких-то экономических или политика у вы сна тогда не приобрела или она при не благодаря бюро которая была больше потому что так как-то раз после второй мировой войны то есть по большей частью б наследие это наследие после про гитлер германии и я к сожалению как у зад думаю всегда таких вещах не знаю зад задумываются ли об этом владимир путин мне бы хотелось бы чтобы он об этом забыл потому что если он будет об этом задумываться его шаги будут кардинально другими а время очень скоро ну 73 ну еще 10 лет да за это время можно много жизней поднять можно кому-то поломать но нельзя изменить жизнь страны вот основная проблема которую я вижу а мне бы хотелось бы чтобы когда он ушел ушел бы я бы ушел чтобы страна не бегала вот по этой спираль можно было бы сказать вот россия была такой но что это высокие слова которые я произнести могу но будут ли они у услышала боюсь что вряд ли\\n\\n**Speaker 1 (1119.8s–1129.42s):**\\nкто знает майк у меня появилась повели свободные деньги которые можно инвестировать миллион рублей но я никогда не занимался есть из чего можно начать\\n\\n**Speaker 2 (1131.69s–1323.36s):**\\nмайк смотрите если это свободные средства и не очень большие я бы все-таки вам рекомендовал но если вы опять хотите чуть-чуть поиграться я бы сыграл бы в такую игру я бы по полмиллиона спокойно положил бы на кратко вклад 3-4 месяца а вторые полмиллиона попробовал бы посмотреть на российский фондовый рынок потому что выходить пока вам на какой-то международный там тот же там б не интер брокер но немножко маловато хотя по в общем чем черт не шутит если у вас повышенная степень как это адреналина и риска хотите немножко по себе нервы то можно было бы сыграть даже сейчас россияне не могут открыть в интер брокер себе счет и там можно сформировать какой-нибудь ко портфель миллион небольшие деньги надо признавать честно но они приблизительно в два раза п средний портфель который есть сейчас на брокер счетах потому что по оценкам брокер компаний средний портфель это приблизительно полмиллиона там ну колеблется там около того поэтому грубо говоря у вас там вы вы практически в два раза больше приятного аппетита я надеюсь штука кофе горячий будет вот водичка но с у меня тоже всегда водичка вот поэтому можно можно поиграться а если на российский рынок то можно выбрать в принципе на первоначально этапе некую стратегию следов за каким брокер верни за каким да там какой вы брокер компанию выберите и какой портфель вы создадите тут есть это уже ваш выбор дает вопрос от степени риска тут есть только один очень важный элемент для вас вы должны понимать что после того как вы сделаете эти два шага они ну так я долго рассказывал как-то быстро сказка сказывается да еще быстрее дело делается но на это у вас все уйдет ну хорошо неделя после этого вы немножко за скучает вы будете но некоторое время по на колонки то рас то па индекс смотреть изучать что такое стакан и так далее но по большому счету это вам потом очень быстро нас весьма про в это все-таки по стратегии исследования это такая достаточно пас история но денег вы на этом сможете заработать заодно можете сравнить те две доходности которые вы получите с одной стороны при работе с со вклад да как будто очень кратко срочно мы с брокер счетом так что если вы хотите как это пощупать и поиграться играйте безопасно мы за безопасные секс за безопасное инвестировать\\n\\n**Speaker 1 (1325.23s–1349.62s):**\\nрусло задавал вопросы и на канале дмитрий трансляции и пришел на живой гвоздь тоже задал вопрос зачитаю в чек прошли парламент выборы победил попу баб чего ожидать жить чехии что будет с ин своим же пмж же с б что будет с экономикой перейдем ли мы на евро к 2030 они на крон будем пользоваться\\n\\n**Speaker 2 (1351.7s–1543.52s):**\\nзначит смотрите по моим оценкам ну во-первых нас чехии как вы знаете я работаю очень многие годы переход на евро и очень не потому что боль того куда более желательно чтобы например германия вернулась к своей дочь марки другой то что ей никто не даст потому что иначе кто же будет тянуть е тут даже вопрос не попу вопрос по отношению вообще к конфликт че небольшая страна напомню вся страна меньше москвы по населению сама п но в районе там 2 миллионов это по сути дела округ москвы если по численности населения экономика во многом была за в и по-прежнему является такой транзит между по германии остальными странами и она может вполне активно развиваться именно как раз как ло ха будет ли посла с точки зрения налогов именно в ло пока я не видел экономическая программа для меня естественно очень важна экономическая программа развития пока она носит характер исключительно то есть то что за является это такой попу попу в общем хорош только в картинках но плохо когда ты просишь давайте как-то мясо по за б на насколько я себя понимаю там все-таки оплачивает во многом евросоюз и пока евросоюз будет платить за беженцев в че будет их принимать но сама базе скорее будет по сок конечно до потому что чехии самой не хватает денег и в целом как-то здесь числе нужно позаботиться о ней самой касаемо внж пмж я думаю что как раз для россиян которые потеряли во многом или люди с с русскими паспорта будут посла в вероятнее всего там в течение года будет более какая-то ло позиция но это все как покажет время потому что на сегодняшний день делать какие-то глубоком расчеты потому что down во многом попу в целом так которая потенциально будет сформирован она также будет такая в кавычках я поставлю ориентир ориентировочно все равно нужно тобой вступать в альянс скорее всего это альянс будет с немцами немцы но у них не просто так в общем берет бас за бас это основной вызов для европы не про конкретно про то что все больше и больше начинают читать деньги в кармане а политике не в состоянии объяснить почему они ведут ту или иную внешнюю политику\\n\\n**Speaker 1 (1545.91s–1556.19s):**\\nалексей впервые за время своего дрона н в т менее за 2000 километров от границы насколько сильно удары по сокращает возможности российской военной машины\\n\\n**Speaker 2 (1559.09s–1803.81s):**\\nзначит все что касается н п значит в первую очередь пострадали н п который действительно находится по озон по боевое столкновения чем ближе тем больше и здесь есть несколько маркеров которые очень важно обсуждать первое что в центральной части м п просто физически больше то есть это когда мы обсуждаем с вами вот то что там очереди там 30 литров или там 10 литров на человека это ограничение не не только скажем так военного времени но и ограничение чисто там не так хорошо было с бензин в целостности то есть когда начинались какие-то массовые на туристов там-то то тоже возникали проблемы просто по причине того что регионы не развиты и мы с вами даже немножко это про что в чем разница между той же там опять-таки турции и например какие-то в ка ставлю курорт краснодар крыма для того чтобы развивать вообще подобного рода кластер нужно куда больше не про деньги сколько про такой комплексный план развития потому что нужно лег там условно здесь там до такой-то царь ножку поставил здесь это такой-то источник и это должно быть пакет предложение которым в общем а турции это и выигрывает там не ах что можно посмотреть если вы туда ездите уже там не одно десятилетие то по большому счету вы понимаете что там там помог ка там соответственно на яхте съездить которая на самом каркас какой-нибудь там перед якобы некий а и на какие-то острова там ну то есть программа очень и очень ограничена но все это у упаковано и ты ху это все ин ты все это там покупаешь потому что тебя вот как это тебя со сопровождает вот такого сопровождения у нас с вами не теперь возвращаемся опять-таки к бензин до повреждения существенные но они существенные именно в той части который относится к при зоне центральные россии она не по в центральной россии с бензин все достаточно стабильно те регионы если власть ну властям было бы по правильному если честно снять ограничения ограничения следующего характера ведь во многих местах были так называемые небольшие не завод так называемые само которые п покупали там нефть и п го и делали может быть не столь там супер п качественный бензин но это была такая во и за счет этого можно очень быстро ни этот дефицит другое дело что потом это конечно загнать это этого джин бутылку будет обратно тяжело и будут тянуть до последнего технически чтобы регионы обратно вернулись к тому состоянию рабочем который был но потребуется где-то месяца месяц полтора посмотрим насколько смогут управлять вот сегодня михаил дел выступил что в общем н за это не то есть проблема с бензином не столько по проблемы украинской стороны сколько проблема неверно управления отчасти это существенная правда потому что в данном случае ни сет дефицит можно было бы ну несколькими методами этого не происходит поэтому бензин пока от дорогой 80 28 85 рублей за литр есть п по ди п поменьше вот ну ни можно насколько справиться очень сильно сомневаюсь пока\\n\\n**Speaker 1 (1804.7s–1817.17s):**\\nда здесь никто у точнее в москве второй бензин продается по 60 рублей при этом в регионах пишут что его цена дошла до 90 рублей когда эта тенденция дойдет до москвы или этого здесь точно не будет в москве таких цен\\n\\n**Speaker 2 (1819.35s–1856.65s):**\\nну 90 в москву за бессмысленно но поднимать цены в москве это совершенно логичный как ло цепочка развития событий поэтому я думаю что до москвы 90 не док катится ценник скажем так под 70 по 90 там пятом там 77 вполне себе реальный на например на февраль с будущего года потому что ценник равно будет расти как бы этого никому не хотелось в бензин бензина нет водки водки нет акции за были есть остаются и будут продолжать расти\\n\\n**Speaker 1 (1859.39s–1868.34s):**\\nпочти тысячи российских военных объектов окажутся в зоне поражения в высоту если трамп передаст украине это сильно изменит рас сил войне\\n\\n**Speaker 2 (1869.89s–1937.92s):**\\nключевой вопрос то как трамп выражается п нео сомнения что это обсуждать достаточно б причина очень простая но не выгодно понимаете всем вы конфликт в т пока россия ста зубы свое украину они очень все зарабатывают поэтому я честно скажу даже даже если предположить что это будет переда какие-то е там там е там ракеты но фундамента это ни на что не повлияет никто не будет в вписывается в этот конфликт вот он где-то там идет и идет это вот разборки двух сторон для них это региона конфликт все а большие заявления они классные все хорошо но смысла у них никакого абсолютно поэтому с учетом того что мы только что обсудили по чехии и европа будет медленно но но меняться поэтому время это тут точно работает на россию они на по украину\\n\\n**Speaker 1 (1939.87s–1946.36s):**\\nтут лена у точнее баб не в первый раз победил в прошлый раз ведь мир в чехии не перевернул все хорошо\\n\\n**Speaker 2 (1947.74s–2030.46s):**\\nнет говорить о том что он прям перевернуть и говорить еще что прямо это будет некий там совсем разворот с востока на запад или наоборот за запада на восток я бы не стал бы потому что экономика ведь когда выступает тор на он же прямо открыто говорит ребят да да может быть это кому-то не нравится тут даже он не вопрос то что не изменит г у него я про вот все последние четыре года у него нет возможности за страну каким-то другим топливом то есть если у германии есть какая-то альтернатива нам может себе позволить как-то разыграть карту отказа от одного вида топлива и переход на другой вид топлива то в вен в как маленькая страна она зависит да и это было сделано до нее до это было сделано при советском союзе мы же с вами я думаю уже не один раз я сс на эту как-то ка когда бургер за трубу на на другой стране по ка 60-х годов на той стране стоит советский то фундамента ничего не поменялось поэтому экономика first все остальное как-то for\\n\\n**Speaker 1 (2031.93s–2039.43s):**\\nвот использую точнее европа разрабатывает военный бюджет мили символизирует собирается больше помогать украине почему времени работать на украину\\n\\n**Speaker 2 (2043.13s–2264.89s):**\\nименно как раз потому что пока европа собирается я боюсь что от украина останутся р дон ножки причина весьма про евро бюро настолько бюро что им бы фильм д посмотреть когда п проще говорит ко фразу пока противник планирует нападение мы перекладываем соответственно ландшафт противник выходит на п равно ландшафт я такой во п и теряется вот основная проблема колхоз всегда в том что куча со и пока они со уже картина мира поменялось и вот это это баз потому что украинский конфликт ста де в первую очередь человеческие силы те 12 миллионов которые уехали в украинцев которые уехали в европу они возвращаться не собираются те два с половиной миллиона украинцев которые остались на территории российской федерации почему-то все это как-то знаете так по там с сбрасывает и говорят что ну вот она произошло это большой колоссальный ущерб для де в целом маловероятно даже когда старк остановится конфликт на какой бы точке он не остановился что потоки ну пот обратно в в украину а соответственно там осталось 25 миллиона на такую огромную даже оставшуюся территорию да еще с такими с таким а объемом необходимой реакции там мари назовём это так при отсутствии денег ну то есть люди мало того что не возвращаются если не дай бог будут открыты границ то и даже те 27 миллионов не будут бить себя п в грудь по весьма по по понятно причине потому что всем хочется жить здесь и сейчас хотят хорошо есть сладко пить много спать и как восстанавливать украину это большой большой вопрос а мили цивилизация ну здесь в том числе надо поклон многие нашим политическим ведомства потому что вместо того чтобы если уж играете в про говорить о том что это мелкий региона конфликт когда говорить о том что мы во со странами на трон нато в какой-то момент в это дело поверил но в бюджет их равно остается очень незначительно то есть россии пока что и маловероятно что это как-то перелом за три месяца производится столько оружие сколько производит нато ведь в нато это в первую очередь из а из понимает что каждый патрон который произведен он непонятно для чего произведен то есть у нас такой-то то логике нет мы в по россии что за величие можно и пострадать то там за величие страдать никто особо не собирается там собираются жить здесь и сейчас и не задают совершенно калия конкретный корр вопрос а зачем нам мы произвели этот патрон чтобы что чтобы сжечь в горле уже в же извините российского украинского конфликта нафига фига ка боя то есть я готов страдать такой же степени поэтому нет я там очень п население из п но это не не удастся сформировать российская бюро плох но европе бюро хуже несколько раз\\n\\n**Speaker 1 (2266.15s–2270.65s):**\\nполитики что меня уже волосы се да рад что время работает на россию жаль что не на россиян\\n\\n**Speaker 2 (2274s–2402.11s):**\\nэто нет я прекрасно понимаю тут еще вы я даже до к сожалению время работает на чиновников если бы все-таки вы россияне россиян вы являетесь основой россии потому что баз на когда очень небольшая группа людей но я о там это 15000 тысяч человек который не то чтобы получают основные п они как дети малые р с точки зрения управления и вот вы начали там с вопроса там поздравления ведь подобного рода се я могу вы практически каждому чиновник мне печально когда их арест с условно наш там богатством потому что наблюдая за тем что арест меня не сумма там меня сумма не провел не поражает меня у утру то что ничего они даже воров они не могут у них нету полета фантазии они делают условно говоря не знаю пусть какого-нибудь при театра они не делают какую-нибудь пусть и для себя пусть небольшую какой-нибудь какую-то га и либо там условно говоря какой-нибудь я клуб личный персональный или предположим развивают там делают себе лично гольф поле там без без всякого там про детей все остальное то есть все настолько банально по количеству то есть просто увеличивается количество объектов но нет вот этого какого-то качественного ска поэтому наблюдая за вот этими цикла на такие же как были в 90-е то есть золотой унитаз это предел мечта меня вот др а то что они воруют ну я это воспринимаю уже как этот солнце и заходит если бы они прибыли хотя бы черт с ними но они же воруют у\\n\\n**Speaker 1 (2404.05s–2413.32s):**\\nгалина дмитрий скажите вклад заканчивается в октября бы можно ли продлить еще на три месяца благодарю ориентир ориентируясь только на ваше мнение здоровье и терпения вам\\n\\n**Speaker 2 (2414.98s–2465.94s):**\\nспасибо спасибо за пожелание в целом пока можно если конец октября ну то есть у вас будет ноябрь декабрь январь то есть даже закончится на условно говоря там феврале вполне потому что феврале только выйдет отчетность ставку но даже если предположить что они чуть-чуть де вниз вы сейчас на хорошие ставки им денег до конца года благодаря тому что они во первых т к плюс ко всему пред ндс возьмут но бюджет они чуть-чуть условно говоря конечно там сами себя обман нас обман в четверку войдут ну то есть им мне надо будет предпринимать каких-то экстра мер поэтому вполне себе да можете на три месяца но то есть я бы сходил из этого параметр\\n\\n**Speaker 1 (2468.01s–2471.74s):**\\nвиктор из ка как ограничить влияние ультра богатых\\n\\n**Speaker 2 (2476.7s–2660.02s):**\\nну тут надо задать вопрос а кто это делать потому что вот вы когда говорите как ограничить тут вы хотите бы и получить рецепт о все равен а его не существует как бы это мне них не хотелось все все все что вам доступно это вам выбирать локацию неважно ну или страну там где вы вы можете наиболее хорошо реализоваться своим семейным клан и вот благодаря этому самому становиться средним классом рассчитывать на то что произойдет ограничение ну сверх богатых вы называете неких миф у там не знаю али у ману но не неважно список forbes у нас всегда это при чего язык так у него есть ограничение и ограничение очень четко это ограничение людей к которые относятся по у нас многократно вам это про стали выиграла узла зла и вас устраивает подобного рода ограничения меня честно говоря нет потому что от того что сегодня есть али бу соответственно у см а завтра будет не неизвестный никому какой-нибудь капитан со своей семьей управлять этой этой семейной скажем так этим семейным х и клан ну ограничение есть здесь ведь заметьте стали зла вот кого вы хотите ограничивать тут надо говорить куда больше о том чтобы ограничивать сталь но и стали зла не даст не дадут вам никто ограничивать что они они управляют миром для этого вы должна быть как раз и система вернее как ее надо выстраивать для это должна быть гражданской активности которой многие десятилетия я говорю в том числе за это я получил ос отклика и п которого вы регулярно не любите но приходится рассматривать потому что я говорю о систем вопросах но что кто бы не пришел к власти я буду неважно будет это условный псевдо ли псевдо или будет абсолютный це я буду всегда говорить о систем вопросах поэтому раз развивает само управление фундамента россии должна была быть ф российской федерации на потому есть российская федерация она должна была бы так развиваться но она так не будет развиваться потому что вас мало вы не хотите для благо г глядя на наш да на нас и на агентов и тоже же видите что в общем но оно надо вот этот риск себе иметь то есть свободном то быть дорого и болезненно достаточно оно нужно\\n\\n**Speaker 1 (2663.08s–2670.49s):**\\nнапишите комментариях артур дмитрий если у вас портфель в к возможно просто немного играете если есть то на какой бирже\\n\\n**Speaker 2 (2673.44s–2799.05s):**\\nу меня есть крипто но в виде игры я это не воспринимаю то есть я это воспринимаю как платеж средство потому что нет то как вы вы понимаете там соответственно при п п из одной па из одного какой в другой нет такой таким образом я не играю потому что отношусь к этому ну именно как по большому счету очень не и непонятно там тренд поэтому нет средства соответственно все как-то реквизиты вы знаете на пота прямом есть это исключительно в качестве получения тех или иных выплат и в последующих как-то рас плат я за то чтобы частные деньги были масс и вы знаете мою позицию что если у меня была такая возможность то в первую очередь бы конечно же я бы все вот это финансовые промышленные пол сил финансово промышленные х мы даже обсуждали с некоторыми у нас были прямо готовые наработки чтобы у них были частные деньги но по основной позиция тех кого мы можем назвать ко органами или сил органами которые не готовы допустить подобного рода во представьте даже я это же даже в первой книге писала в этом представьте сколько бы границ или царей пол если если бы ко п выпустила бы частные деньги потому что это к корпорации которые могли бы это другие государства мы с вами обсуждаем что такое государство где его граница ведь чем хороши там тот же facebook те же социальные сети те же соответственно транс корпорация ниже именно в это это государство работающие вне то есть это разные пласт вот здесь где-то там граница они идут поверх или по низу неважно совершенно другой пласт времени ко и так далее\\n\\n**Speaker 1 (2799.94s–2813.64s):**\\nа этих государства должны принимать решение какой-то и как-то влиять на принятие решение глав корпорации соц сетей например или нет и они действуют по правилам уходи тогда в другой государстве не нравится\\n\\n**Speaker 2 (2815.69s–2926.52s):**\\nв чем прелесть там есть конкуренция разницы между чиновник и у условно ком она в баз принципе задача чиновник это создать одну дверь и стоять на ней ш в чем ко не ангелы небесные безусловно они тоже много мер могут на но у них нет моно поле то есть даже там где вы моно поле эти моно поле вы в рамках границ какого-то государства то есть там 90 процентов случаев моно на поле выстраивается в спа между чиновник и как раз вот этим корпорация препаратов у них есть конкуренция поэтому вот есть такая возможность как это повлиять ты в в именно своим вниманием потому что когда-то мы могли спокойно рассмотреть оси вот сейчас айс можно не рассматривать потому что такой сети по сути дела нет то есть и так далее то есть можно много чего ф было ф сменил сейчас пока есть там запрещен раз там ф же с ними но там-то трамп чего делает он же тоже создает то свою и следующий те давайте зададим вопросом что будет делать трамп когда он уйдет со своего места по правильному он должен на самом деле эту ще там став ц либо объединить либо его продать потому что часто он ее крутит за счет чего за счет того что он easy дед хороший проект да нет он хорошие деньги делает делает правильный актив но как только он начнет быть хром у крайне важно вовремя ее с спали именно ее чем-нибудь не слить там либо с ф либо с twitter либо еще чем-то\\n\\n**Speaker 1 (2927.54s–2944.24s):**\\nсергей странно сергей гр да 65 лет пишет пенсионер имеет дополнительный доход свой дом участок запасы имеются расскажите как продержаться пенсионерам с ми пенсия нужен совет в россии сейчас\\n\\n**Speaker 2 (2946.76s–3034.32s):**\\nох увы я понимаю что вы вышли в тот тренд когда вам приходится рассчитывать на пенсию ну я например понимаю там при даже не вопрос статус я даже не очень понимаю еще там будут нам ин агентом оставят ли на наши п накопление хотя в общем могут и их из вот но рассчитывать на пенсию в россии конечно бессмысленно и в первую очередь если у вас есть какая-то мо если есть какая-то мо посмотрите регион с более низкими расхода потому что увеличить доходы вам вряд ли удастся вот посмотреть вместе с кем-то ска и я уверен что следующей это будет ну скажем так пенсионер общины когда люди объединяются для совместного видения хозяйства вам нужно с кем-то входить извините альянс ну дай бог вам здоровье и очень бы хотелось бы чтобы конечно проявили ваши дети потому что в общем это тоже важный элемент и я когда слышу что там вот у меня там где-то то есть дети где то есть внуки но очень хочется задать вопрос почему же дети внуки там совсем вас забросил пусть они к вам вернуться очень бы этого хотелось хочу пожелать вашим внука как это позвоните папе\\n\\n**Speaker 1 (3036.42s–3044.97s):**\\nспрашивать елена как сейчас дела у константина бабки и сергея се что с их завода дмитрий начинал частично\\n\\n**Speaker 2 (3047.27s–3067.29s):**\\nда да да я понимаю рос фильма сейчас вот сокращает объем по производству ин проектов увы и это не самая лучшая стратегия ну вы выжить они до должны по идее с су ним будет очень очень сложно скажу прям\\n\\n**Speaker 1 (3069.04s–3072.42s):**\\nи тоже соответственно если се\\n\\n**Speaker 2 (3072.68s–3091.51s):**\\nабсолютно то же самое да потому что из с ки точно такая же ситуация потому что у сегодня ну вот х мы встречались просто у производителей высокая степень зак у них банально просто нет денег вот и все\\n\\n**Speaker 1 (3093.01s–3111s):**\\nда короткий если свой успеем вопрос если сложить все дефицита бюджета с 22 по 25 это получается больше 15 триллионов а в нам еще пять триллионов старые дефицит остались как вы думаете в что-то не произойдет на фоне такой дефицита большой\\n\\n**Speaker 2 (3112.38s–3132.75s):**\\nфундамента нет потому что 15 17 триллионов мы вытаскиваем вполне себе дефицит безусловно коп и 26 год чем есть шанс вот 27 год будет прямо не очень понятно откуда они будут брать деньги скажу прям\\n\\n**Speaker 1 (3134.05s–3156.85s):**\\nспасибо огромное друзья у нас заканчивается эфир я благодарю всех наших зрителей живого г за вопросы в чате трансляции благодарю зрителей канал канала дмитрия пота к сожалению в какой-то момент перестала заходить мало было там вопросов но в следующий раз буду за заглядывать почаще подписывайтесь на канал дмитрия пота на живой гость не забывайте и сейчас я даю слово дмитрий\\n\\n**Speaker 2 (3159.59s–3224.6s):**\\nмы сладкий заяц сегодня я опять мы встречались с девчонкам с нашим двора мол помнишь подарили такого ангел сладкого вот опять вернулась уже очередное письмо от них вот ну я рассказываю что в общем я постараюсь передать и ангел тебя ждет дома та фотография на которой мы с тобой сейчас на под прямом это фотография которая с тобой было видео когда мы нашему деду дедушки твоему записали видео когда он лежал больницу он очень хотел чтобы он увидеть и тебя и наташ вместе сожалению это так и не получилось вот теперь такая мечта есть бабушки вали ну и наташ тебя тоже ждет девчонки тебе передают привет ну и пишут письма который пока не возвращаются дон нос очень хорошо прилетает в общем любим тебя ждем я бабушка наташ и девчонки аль все остальные адам все встречи тебя и пока\"}\n  }\n}"
          },
          "telegram": {
            "update_id": 502824025,
            "message": {
              "message_id": 4389,
              "from": {
                "id": 8203479406,
                "is_bot": false,
                "first_name": "Амина",
                "username": "amina_red",
                "language_code": "en",
                "is_premium": true
              },
              "chat": {
                "id": 8203479406,
                "first_name": "Амина",
                "username": "amina_red",
                "type": "private"
              },
              "date": 1760037352,
              "text": "fdfdf"
            }
          }
        }
      }
    ]
  },
  "versionId": "a843b567-ec49-4d87-8b35-9cfbff96429e",
  "activeVersionId": "a843b567-ec49-4d87-8b35-9cfbff96429e",
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-08T13:44:35.346Z",
      "createdAt": "2025-10-08T13:44:35.346Z",
      "role": "workflow:owner",
      "workflowId": "2sSur2JLR99ZKeV7",
      "projectId": "otThis0Dzllfqt7v",
      "project": {
        "updatedAt": "2025-08-20T18:30:26.018Z",
        "createdAt": "2025-08-20T18:23:04.813Z",
        "id": "otThis0Dzllfqt7v",
        "name": "Ada Sales <dragmastery@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b0f4cf25-2d4a-4614-b225-fe05addaa1fc"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}