active_2026-04-20_14-56/EgCE8ocl9jnzaqgd.json
{
  "updatedAt": "2025-09-03T07:31:15.132Z",
  "createdAt": "2025-09-03T07:30:46.306Z",
  "id": "EgCE8ocl9jnzaqgd",
  "name": "Lead: move to Ignore -> input lead name",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "manager",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        -32
      ],
      "id": "4f883ea5-36fd-4332-8c9e-4b2f72d93ca7",
      "name": "When Executed by Master"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Master').item.json.manager.id }}",
        "text": "=Введите `user_id` или `username` или `name` лида:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        -32
      ],
      "id": "6be73736-a411-490f-891a-9121a5a5059e",
      "name": "Send text: ask to input user",
      "webhookId": "f5698ed0-a4ab-4224-b01a-81996f797e6b",
      "credentials": {
        "telegramApi": {
          "id": "kLofIbHPyU5bBCRT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tg_accounts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Send text: ask to input user').item.json.result.chat.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "state",
              "fieldValue": "update_lead__move_to_ignore__input_user"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        -32
      ],
      "id": "f98e7633-6b02-457a-902b-2879d5b03b89",
      "name": "update state: update_lead__move_to_disscard__input_user",
      "credentials": {
        "supabaseApi": {
          "id": "zn9ty3kjGEQxM2MK",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Master": {
      "main": [
        [
          {
            "node": "Send text: ask to input user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text: ask to input user": {
      "main": [
        [
          {
            "node": "update state: update_lead__move_to_disscard__input_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Master": [
      {
        "json": {
          "manager": {
            "id": 8316205217,
            "created_at": "2025-08-31T16:50:48.673932+00:00",
            "updated_at": "2025-08-31T16:50:48.673932",
            "tg_username": "Amina_raii",
            "first_name": "Amina",
            "last_name": "S",
            "role": "manager",
            "status": "active",
            "api_id": 25306690,
            "api_hash": "d67dfca70f90b052b1f29709c52fbf44",
            "string_session": "1ApWapzMBuwM9vEBXOHw74xUI3V59q1snBhn9q4_PO6_wzNVzUZmt4k9U02LRUCgHv3eS2N7fHXMsTNBUilqlUpbUhi_ip-GWP9gvtQclICeacJTYDOs-r2z-W_0ynmxnz6V3QRJgeuo3WWsuWYTV0oH3CoP_OIw9uI4hwDZwG8XfYGmg0s7PzahM30xNVqmRMfGUi4Sr4szkkdeM0THWUH5siXk4D8U-A7YG0fWrUkw-FDd4iUNuc9cHEHG3pRTYoRCSSX_FpshMDu46L7bnwPnUfnI_WQMcf3dqElUFD9XbFr7MXWlendFRCtrI6VCahMLmFHsWpDDWZ9HHtRuX7L4U4WIa-tU=",
            "phone": "+380998234415",
            "proxy_ip": "5.22.206.144",
            "proxy_port": 59100,
            "proxy_login": "dabstep4enko",
            "proxy_password": "FjGhduJaEN",
            "state": null,
            "last_tg_api_call_at": null,
            "state_data": null
          }
        }
      }
    ]
  },
  "versionId": "c1eb9a78-ac5f-4cd5-abbb-22d02191c0d9",
  "activeVersionId": "c1eb9a78-ac5f-4cd5-abbb-22d02191c0d9",
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-09-03T07:30:46.306Z",
      "createdAt": "2025-09-03T07:30:46.306Z",
      "role": "workflow:owner",
      "workflowId": "EgCE8ocl9jnzaqgd",
      "projectId": "otThis0Dzllfqt7v",
      "project": {
        "updatedAt": "2025-08-20T18:30:26.018Z",
        "createdAt": "2025-08-20T18:23:04.813Z",
        "id": "otThis0Dzllfqt7v",
        "name": "Ada Sales <dragmastery@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b0f4cf25-2d4a-4614-b225-fe05addaa1fc"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}