active_2026-04-20_14-56/fjU3nbH1jlI2QsqD.json
{
  "updatedAt": "2025-10-10T09:23:30.824Z",
  "createdAt": "2025-10-10T09:08:01.033Z",
  "id": "fjU3nbH1jlI2QsqD",
  "name": "Chunk tg messages",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Maximum length for each Telegram message (keeping a small buffer for MarkdownV2)\nconst maxLength = 4000;\n\n// Build the full message from extracted fields\nconst text = $input.first().json.content;\n\n// Function to split a string into smaller chunks\nfunction chunkString(str, length) {\n  const result = [];\n  let i = 0;\n  while (i < str.length) {\n    result.push(str.slice(i, i + length));\n    i += length;\n  }\n  return result;\n}\n\n// Return an array of objects, each will become one Telegram message\nreturn chunkString(text, maxLength).map(t => ({ json: { text: t } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -208
      ],
      "id": "83f6cb43-2d13-4043-b2f4-3f8d999c81e2",
      "name": "Chunk tg message"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        128,
        -208
      ],
      "id": "7675d3d4-9639-4978-9fd1-ee7b2be32af4",
      "name": "Aggregate - just to make 1 step"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tg_user",
              "type": "object"
            },
            {
              "name": "content"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        -208
      ],
      "id": "c14bb288-8aeb-4ec5-a241-6277dcdca0fc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.tg_user.id }}",
        "text": "=`{{ $json.text }}`",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        -208
      ],
      "id": "993d70a7-6245-460c-8074-c9c196f777e0",
      "name": "Send message: chunk",
      "webhookId": "15b4ba02-381e-4bc0-9454-c3f3e26fa15b",
      "credentials": {
        "telegramApi": {
          "id": "kLofIbHPyU5bBCRT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Chunk tg message": {
      "main": [
        [
          {
            "node": "Send message: chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Chunk tg message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message: chunk": {
      "main": [
        [
          {
            "node": "Aggregate - just to make 1 step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "tg_user": {
            "id": 8203479406,
            "created_at": "2025-08-29T17:00:31.033459+00:00",
            "updated_at": "2025-08-29T17:00:31.033459",
            "tg_username": "amina_red",
            "first_name": "Амина",
            "last_name": null,
            "role": "manager",
            "status": "active",
            "api_id": 26502193,
            "api_hash": "841f2564dd4b3f62b440372b906374d4",
            "string_session": "1ApWapzMBu8EGjJ4C-B_glbIOlemNqzMShYcmxVbJC9htojZU9wqSr_bTAZGC06ToS0bjl1OZMWjI8lnlzdpNnjQVj-7K0qKw3SCukcnUgcuJvOAEyMLKN1LzDnasQElngOOFNzBPK8DYJrWIayK8JlCrC2-b-So1bfR3n6SQcK-lOC38DyBqXmR8a1O0hxNQbN0sHa7rlGvbRGSZUH4TzqQ6-K-fUJChNKQD0DqE_dNBf6pr4WXaknHn9_wSvjVpEGzDnwaYgc7u8nmU2MQYPLlDIl72FVxcPyhLUUALoksCpZzgzQRO4RLMmOlaHN1saOyXBf_a0U6W4quBhJ3Bx4mPoOpF2NU=",
            "phone": "+380630282951",
            "proxy_ip": "5.22.204.236",
            "proxy_port": 59100,
            "proxy_login": "dabstep4enko",
            "proxy_password": "FjGhduJaEN",
            "state": "transcribe_audio__start",
            "last_tg_api_call_at": null,
            "state_data": null
          },
          "content": "**Speaker 0 (9.52s–644.85s):**\nЗдравствуйте,. дорогие. друзья! Меня зовут Татьяна Климова. Добро пожаловать в Русский подкаст. No. 242. Если вы хотите учить русский. быстрее и эффективнее,. приходите в клуб Русская Дача. На Русской. Даче вы получаете больше. подкастов, видео, а также полные транскрипции подкастов,. благодаря которым вы можете понять 100. слов. Сегодня у нас. третий и последний подкаст из серии Лексика из книги. Как я уже. говорила, эту тему предложил. Пол,. один из членов клуба Русская Дача. Сегодня мы будем говорить о. книге. Преступление. и. наказание. Автор. Фёдор Достоевский. Для меня. Достоевский это не только писатель,. это также. философ. Он написал такие великие книги,. как. Идиот, Братья. Карамазовы. и Преступления. и наказания, наша книга сегодня. Я объясню вам несколько важных слов из книги, чтобы вы могли. рассказать о ней. по-русски. Начнем. Сначала мне нужно объяснить вам название книги:. Преступление. это. юридический. термин,. это, когда вы сделали. что-то, что официально. нельзя делать, что-то нелегальное. Мы говорим совершать. совершить. преступление,. если вы убили человека,. вы. совершили. преступление,. если вы украли деньги. вы. совершили. преступление,. если. юридическая. система. страны работает хорошо,. то после. преступления есть. наказание. Наказывать. наказать. Наказывать наказать значит сделать плохо. человеку,. потому что этот человек сделал что-то плохое. Можно. наказать. ребенка. Например, если ребенок ударил. другого ребенка,. родители могут его наказать. Например, он не может играть на компьютере. и так далее. Это. наказание. Если вы совершили. преступление,. то у вас будет наказание. Типичное наказание сегодня это. штраф или тюрьма. Штраф. это, когда вы должны платить. деньги. Итак, в романе Достоевского. кто-то совершил преступление. и должен получить наказание. Кто совершил. преступление. это студент. Раскольников,. он бедный студент в. Санкт-Петербурге, у него немного денег,. У него в голове. также есть опасные. плохие. идеи, что он. Наполеон, что он может убить. человека. Он решает убить. старуху-процентщицу. Старуха. это отрицательное. слово, это значит старая неприятная женщина. Процентщик. или ростовщик. Процентщик. это. человек, который дает деньги. под проценты. Это негативное. слово, хотя,. например, сегодня банки занимаются. этим. Процентщица. в книге. дает людям. деньги,. например, 10. рублей, а через месяц они должны ей дать. 12 рублей. Это. ростовщичество. Сегодня это немного старое слово,. таких людей немного,. потому что их роль играют банки. Раскольников думает,. что, если он убьет. процентщицу,. всем будет от этого лучше. Чтобы убить её,. он использует. топор. Это. инструмент,. который. мы. обычно. используем, когда нам нужно что-то делать. с деревом. Это. очень острый. инструмент,. как большой-большой. нож, опасный инструмент. Но обычно мы не убиваем. им людей,. а работаем в саду. топор. Убив. процентщицу,. Раскольников. стал убийцей, он совершил убийство. Совершать. совершить. убийство. Убийство. это когда вы убиваете. человека. Убийца это. человек, который убил. Но герой. книги паникует,. не может найти деньги, почти ничего не берет. После этого. для Раскольникова начинается. настоящий. кошмар. Он встречается. со следователем. Следователь. следователь. это как детектив,. который работает. на полицию,. это человек, который должен найти. преступника, найти убийцу. Порфирий. Петрович. очень умный человек,. который хорошо знает психологию. людей. Он несколько раз встречается. с Раскольниковым,. он. подозревает,. что это Раскольников. убил старуху. Подозревать. Подозревать значит думать, что. другой человек. сделал. что-то,. но. не быть сто процентов уверенным. Порфирий. Петрович. подозревает Раскольникова, то есть он думает, но не уверен. Другой пример. Вы купили. шоколадку,. а ее кто-то съел,. но ни ваши дети, ни. жена, ни кошка. не хотят говорить,. что это сделали они. В этой ситуации. вы. подозреваете. всех. Ужасная ситуация. Как вы видите, это не. веселый роман, это очень темный роман с. философией,. с психологией,. с полицией. Чтобы узнать,. что будет с Раскольниковым. в конце романа,. вы должны его прочитать. А теперь давайте посмотрим на цитату из романа. Преступление и наказание. Самая известная цитата из этого романа это:. Тварь ли. я дрожащая. или право имею? Тварь. это очень. негативное слово,. это. значит животное,. но даже для животного это очень неприятно. Сегодня, если мы говорим. человеку тварь,. это очень-очень-очень. грубо,. это значит, что человек. ничего не стоит,. что вы думаете о нём. только самое,. всё самое ужасное, самое плохое. Раскольников. говорит: Тварь. дрожащая. Дрожать. здесь значит бояться. Тварь дрожащая. значит человек,. который всего. боится,. который не может быть счастливым,. сильным. Это тварь дрожащая. Право имею. Иметь право. Иметь право значит, что вы. можете что-то делать. Обычно это юридический. термин. Никто не имеет права. убивать. других людей,. то есть юридически. вы не можете убивать. людей. Но у Раскольникова. в романе. другая теория. Он думает, что есть две группы людей:. твари, дрожащие, которые боятся,. и наполеоны,. которые имеют право. Так он думает до убийства,. такая у него теория. Но после убийства он понимает, что. не все так просто,. тварь ли я дрожащая. или право имею. Дорогие друзья,. надеюсь, что несмотря на такую серьезную книгу,. мой подкаст вам понравился. Если вы хотите понять все-все слова из этого подкаста,. вступайте в Клуб Русская Дача. Если вы дачник,. вы также можете обсудить эту книгу. в нашей закрытой группе в Фейсбуке. Я хочу сказать большое спасибо тем,. кто является членами Клуба Русская Дача. Они. не только получают полные транскрипции, а также. дополнительные файлы, но и помогают мне продолжать мою работу. Спасибо вам большое! Слушайте русские подкасты. Смотрите мои видео на моем канале. YouTube, читайте мои статьи, покупайте. книги, делайте дарения, вступайте в клуб. Целую! Пока-пока!"
        }
      }
    ]
  },
  "versionId": "13898d2c-51f1-44bc-90ca-1a74d89745c5",
  "activeVersionId": "13898d2c-51f1-44bc-90ca-1a74d89745c5",
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-10T09:08:01.033Z",
      "createdAt": "2025-10-10T09:08:01.033Z",
      "role": "workflow:owner",
      "workflowId": "fjU3nbH1jlI2QsqD",
      "projectId": "otThis0Dzllfqt7v",
      "project": {
        "updatedAt": "2025-08-20T18:30:26.018Z",
        "createdAt": "2025-08-20T18:23:04.813Z",
        "id": "otThis0Dzllfqt7v",
        "name": "Ada Sales <dragmastery@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b0f4cf25-2d4a-4614-b225-fe05addaa1fc"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}