active_2026-04-20_14-56/n9JnZXSxn26bskWH.json
{
  "updatedAt": "2025-09-02T15:35:51.755Z",
  "createdAt": "2025-09-02T15:32:33.645Z",
  "id": "n9JnZXSxn26bskWH",
  "name": "Find lead (with first)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "manager",
              "type": "object"
            },
            {
              "name": "telegram",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1472,
        256
      ],
      "id": "dc30af62-dd94-4916-be88-6ed6e0b860e3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.manager.id }}",
        "text": "Лид по этим данным не найден. Введите ещё раз либо username, либо имя, либо id.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        544
      ],
      "id": "6b0dcf81-815d-4221-b354-b4173f9ae32b",
      "name": "Send text: not found lead",
      "webhookId": "3cb5eefb-3016-4c27-a38d-7a8746d483c3",
      "credentials": {
        "telegramApi": {
          "id": "kLofIbHPyU5bBCRT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tg_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('When Executed by Another Workflow').first().json.telegram.text }}"
            },
            {
              "keyName": "added_by",
              "keyValue": "={{ $('When Executed by Another Workflow').first().json.manager.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -976,
        80
      ],
      "id": "e546c4c2-edb6-48e8-b2a0-0f256c19999a",
      "name": "Get manager leads by user id",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "zn9ty3kjGEQxM2MK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e84957da-d8fc-4e66-bd5a-32af8bb42885",
              "leftValue": "={{ $('Get manager leads by user id').item.json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -768,
        80
      ],
      "id": "a137fe4b-bc70-4d78-b6c5-b64152870eb7",
      "name": "if (user_id)"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tg_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $('When Executed by Another Workflow').first().json.telegram.text }}"
            },
            {
              "keyName": "added_by",
              "keyValue": "={{ $('When Executed by Another Workflow').first().json.manager.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -480,
        272
      ],
      "id": "ea7f0ee6-31f8-4353-930b-4ab837ca07d9",
      "name": "Get manager leads by username",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "zn9ty3kjGEQxM2MK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tg_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "full_name",
              "keyValue": "={{ $('When Executed by Another Workflow').first().json.telegram.text }}"
            },
            {
              "keyName": "added_by",
              "keyValue": "={{ $('When Executed by Another Workflow').first().json.manager.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -48,
        432
      ],
      "id": "3302ff01-ce0a-4dd1-be1c-fa6849dac671",
      "name": "Get manager leads by full name",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "zn9ty3kjGEQxM2MK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e84957da-d8fc-4e66-bd5a-32af8bb42885",
              "leftValue": "={{ $('Get manager leads by username').item.json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        272
      ],
      "id": "a9ce0e4d-e2b0-4df2-ad98-e80d3ad32c9a",
      "name": "if (username)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e84957da-d8fc-4e66-bd5a-32af8bb42885",
              "leftValue": "={{ $('Get manager leads by full name').item.json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        432
      ],
      "id": "be2bfc5e-ba3f-4f21-a8b7-85e763152494",
      "name": "if (full name)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e84957da-d8fc-4e66-bd5a-32af8bb42885",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.telegram.text.isNumeric()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        256
      ],
      "id": "1a836c8d-5169-4a34-b3df-ebdc8a0c63e0",
      "name": "if text is number"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"is_found\": true,\n  \"lead_data\": {{ $json }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        48
      ],
      "id": "7c2b50db-c9b7-43ab-b1a7-7b7511558ded",
      "name": "Result"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"is_found\": false,\n  \"lead_data\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        544
      ],
      "id": "59db0852-cc52-4994-b87c-4bf551d1966a",
      "name": "Result: false"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "if text is number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get manager leads by user id": {
      "main": [
        [
          {
            "node": "if (user_id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if (user_id)": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get manager leads by username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get manager leads by username": {
      "main": [
        [
          {
            "node": "if (username)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get manager leads by full name": {
      "main": [
        [
          {
            "node": "if (full name)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if (username)": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get manager leads by full name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if (full name)": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send text: not found lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if text is number": {
      "main": [
        [
          {
            "node": "Get manager leads by user id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get manager leads by username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text: not found lead": {
      "main": [
        [
          {
            "node": "Result: false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "manager": {
            "id": 8316205217,
            "created_at": "2025-08-31T16:50:48.673932+00:00",
            "updated_at": "2025-08-31T16:50:48.673932",
            "tg_username": "Amina_raii",
            "first_name": "Amina",
            "last_name": "S",
            "role": "manager",
            "status": "active",
            "api_id": 25306690,
            "api_hash": "d67dfca70f90b052b1f29709c52fbf44",
            "string_session": "1ApWapzMBuwM9vEBXOHw74xUI3V59q1snBhn9q4_PO6_wzNVzUZmt4k9U02LRUCgHv3eS2N7fHXMsTNBUilqlUpbUhi_ip-GWP9gvtQclICeacJTYDOs-r2z-W_0ynmxnz6V3QRJgeuo3WWsuWYTV0oH3CoP_OIw9uI4hwDZwG8XfYGmg0s7PzahM30xNVqmRMfGUi4Sr4szkkdeM0THWUH5siXk4D8U-A7YG0fWrUkw-FDd4iUNuc9cHEHG3pRTYoRCSSX_FpshMDu46L7bnwPnUfnI_WQMcf3dqElUFD9XbFr7MXWlendFRCtrI6VCahMLmFHsWpDDWZ9HHtRuX7L4U4WIa-tU=",
            "phone": "+380998234415",
            "proxy_ip": "5.22.206.144",
            "proxy_port": 59100,
            "proxy_login": "dabstep4enko",
            "proxy_password": "FjGhduJaEN",
            "state": "create_lead__name_input",
            "last_tg_api_call_at": null,
            "state_data": null
          },
          "telegram": {
            "message_id": 1806,
            "from": {
              "id": 8316205217,
              "is_bot": false,
              "first_name": "Amina",
              "last_name": "S",
              "username": "Amina_raii",
              "language_code": "en"
            },
            "chat": {
              "id": 8316205217,
              "first_name": "Amina",
              "last_name": "S",
              "username": "Amina_raii",
              "type": "private"
            },
            "date": 1756823293,
            "text": "Vladyslav Hleb"
          }
        }
      }
    ]
  },
  "versionId": "cba8e828-4b5d-48b5-9044-7b5b4f2cc7c6",
  "activeVersionId": "cba8e828-4b5d-48b5-9044-7b5b4f2cc7c6",
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-09-02T15:32:33.645Z",
      "createdAt": "2025-09-02T15:32:33.645Z",
      "role": "workflow:owner",
      "workflowId": "n9JnZXSxn26bskWH",
      "projectId": "otThis0Dzllfqt7v",
      "project": {
        "updatedAt": "2025-08-20T18:30:26.018Z",
        "createdAt": "2025-08-20T18:23:04.813Z",
        "id": "otThis0Dzllfqt7v",
        "name": "Ada Sales <dragmastery@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b0f4cf25-2d4a-4614-b225-fe05addaa1fc"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}