active_2026-04-20_14-56/PkoJ1JqSVUdg18fQ.json
{
  "updatedAt": "2025-09-02T15:27:03.537Z",
  "createdAt": "2025-09-02T13:53:21.146Z",
  "id": "PkoJ1JqSVUdg18fQ",
  "name": "Lead: show card -> enter name...",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "manager",
              "type": "object"
            },
            {
              "name": "telegram",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        -112
      ],
      "id": "5b062217-9175-4a8b-af84-b19122505c78",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tg_accounts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.manager.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "state",
              "fieldValue": "=show_lead_card__ask_lead_input"
            },
            {
              "fieldId": "state_data",
              "fieldValue": "="
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        -112
      ],
      "id": "c2674a8e-860b-4973-b4d0-e681b36b9768",
      "name": "Update state: update_lead__ask_to_add_comment",
      "credentials": {
        "supabaseApi": {
          "id": "zn9ty3kjGEQxM2MK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.manager.id }}",
        "text": "=Введите `user_id` или `username` или `name лида`:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -112
      ],
      "id": "c489a89e-519c-4d6a-b80e-a465efaf0de5",
      "name": "Send text: ask to write comment",
      "webhookId": "e9f4ce0e-7b53-44c1-921f-bfc13fed4dd3",
      "credentials": {
        "telegramApi": {
          "id": "kLofIbHPyU5bBCRT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Update state: update_lead__ask_to_add_comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update state: update_lead__ask_to_add_comment": {
      "main": [
        [
          {
            "node": "Send text: ask to write comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "manager": {
            "id": 8316205217,
            "created_at": "2025-08-31T16:50:48.673932+00:00",
            "updated_at": "2025-08-31T16:50:48.673932",
            "tg_username": "Amina_raii",
            "first_name": "Amina",
            "last_name": "S",
            "role": "manager",
            "status": "active",
            "api_id": 25306690,
            "api_hash": "d67dfca70f90b052b1f29709c52fbf44",
            "string_session": "1ApWapzMBuwM9vEBXOHw74xUI3V59q1snBhn9q4_PO6_wzNVzUZmt4k9U02LRUCgHv3eS2N7fHXMsTNBUilqlUpbUhi_ip-GWP9gvtQclICeacJTYDOs-r2z-W_0ynmxnz6V3QRJgeuo3WWsuWYTV0oH3CoP_OIw9uI4hwDZwG8XfYGmg0s7PzahM30xNVqmRMfGUi4Sr4szkkdeM0THWUH5siXk4D8U-A7YG0fWrUkw-FDd4iUNuc9cHEHG3pRTYoRCSSX_FpshMDu46L7bnwPnUfnI_WQMcf3dqElUFD9XbFr7MXWlendFRCtrI6VCahMLmFHsWpDDWZ9HHtRuX7L4U4WIa-tU=",
            "phone": "+380998234415",
            "proxy_ip": "5.22.206.144",
            "proxy_port": 59100,
            "proxy_login": "dabstep4enko",
            "proxy_password": "FjGhduJaEN",
            "state": null,
            "last_tg_api_call_at": null,
            "state_data": null
          },
          "telegram": {
            "json": {
              "update_id": 502822825,
              "message": {
                "message_id": 1774,
                "from": {
                  "id": 8316205217,
                  "is_bot": false,
                  "first_name": "Amina",
                  "last_name": "S",
                  "username": "Amina_raii",
                  "language_code": "en"
                },
                "chat": {
                  "id": 8316205217,
                  "first_name": "Amina",
                  "last_name": "S",
                  "username": "Amina_raii",
                  "type": "private"
                },
                "date": 1756820821,
                "text": "/show_comments",
                "entities": [
                  {
                    "offset": 0,
                    "length": 14,
                    "type": "bot_command"
                  }
                ]
              }
            },
            "pairedItem": {
              "item": 0
            }
          },
          "generated_by_AI": null
        }
      }
    ]
  },
  "versionId": "2036f4b2-3df9-4244-801b-c6b17689ed6f",
  "activeVersionId": "2036f4b2-3df9-4244-801b-c6b17689ed6f",
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-09-02T13:53:21.146Z",
      "createdAt": "2025-09-02T13:53:21.146Z",
      "role": "workflow:owner",
      "workflowId": "PkoJ1JqSVUdg18fQ",
      "projectId": "otThis0Dzllfqt7v",
      "project": {
        "updatedAt": "2025-08-20T18:30:26.018Z",
        "createdAt": "2025-08-20T18:23:04.813Z",
        "id": "otThis0Dzllfqt7v",
        "name": "Ada Sales <dragmastery@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b0f4cf25-2d4a-4614-b225-fe05addaa1fc"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}